
/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --rich-black-fogra-29: hsl(225, 25%, 9%);
  --rich-black-fogra-39: hsl(170, 21%, 5%);
  --raisin-black: hsl(228, 13%, 15%);
  --eerie-black: hsl(207, 19%, 11%);
  --light-gray: hsl(0, 3%, 80%);
  --gunmetal-1: hsl(229, 15%, 21%);
  --gunmetal-2: hsl(216, 22%, 18%);
  --gainsboro: hsl(0, 7%, 88%);
  --citrine: hsl(57, 97%, 45%);
  --xiketic: hsl(253, 21%, 13%);
  --gray-x: hsl(0, 0%, 74%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);

  /**
   * typography
   */

  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 36px;
  --fs-2: 32px;
  --fs-3: 30px;
  --fs-4: 24px;
  --fs-5: 20px;
  --fs-6: 18px;
  --fs-7: 16px;
  --fs-8: 15px;
  --fs-9: 14px;
  --fs-10: 13px;
  --fs-11: 12px;
  --fs-12: 11px;

  --fw-500: 500;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.15s ease;
  --transition-2: 0.25s ease-in;

  /**
   * spacing
   */

  --section-padding: 100px;

}





/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

input {
  font: inherit;
  width: 100%;
  border: none;
}

select,
button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
   background-color: black;
   background: var(--eerie-black); 
}

body.active { overflow: hidden; }





/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

/**
 * TITLES & SUBTITLES
 */

.h1,
.h2,
.h3 {
  color: var(--white);
  line-height: 1.2;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-6); }

.badge {
  color: var(--raisin-black);
  font-size: var(--fs-12);
  font-weight: var(--fw-700);
  border: 2px solid transparent;
  padding: 2px 10px;
}

.badge-fill {
  border-color: aliceblue;
  background: var(--eerie-black);
  color: var(--eerie-black);
}
.badge-fill:hover {
  border-color: blue;
  background: var(--eerie-black);
  color: yellow;
}
.badge-outline { border-color: var(--white); 
}
.badge-outline:hover {
  border-color: blue;
  background: var(--eerie-black);
  color: yellow;
}
/**
 * MOVIE META
 */

.meta-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px 25px;
  margin-bottom: 50px;
}

.badge-wrapper,
.ganre-wrapper,
.date-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 10px;
}

.ganre-wrapper > a {
  color: var(--gainsboro);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  transition: var(--transition-1);
}

.ganre-wrapper > a:is(:hover, :focus) { color: var(--citrine); }

.date-time { gap: 15px; }

.date-time > div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gainsboro);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
}

.date-time ion-icon {
  --ionicon-stroke-width: 50px;
  color: var(--citrine);
}

/**
 * BUTTONS
 */

.btn {
  color: var(--white);
  font-size: var(--fs-11);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 30px;
  border: 2px solid var(--citrine);
  border-radius: 50px;
  transition: var(--transition-1);

}

.btn > ion-icon { font-size: 18px; }

.btn-primary { 
  background: var(--rich-black-fogra-29); }

.btn-primary:is(:hover, :focus) {
  background: var(--citrine);
  color: var(--xiketic);
}







/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

header {
  background-image: url("../Img/footer-bg.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
  height: 20vh;
  background-attachment: fixed;
}
.navbar-brand img {
  max-width: 100px;
  border-radius: 20px;
}

.about-section
{
  background: url("../Img/bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.logo {
  width: 15%;
  float: left;
}

.main-nav {
  float: right;
  list-style: none;
  margin-right: 50px;
  margin-top: 25px;
  font-size: 17px;
}

.main-nav li {
  display: inline-block;
  margin-right: 30px;
}

.main-nav li a {
  text-decoration: none;
  color: white;
  font-size: 110%;
  font-weight: 700;
  padding: 3px 0;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid ;
}
/*-----------------------------------*\
 * #MIDDLE
\*-----------------------------------*/
 section.movie-detail{
  background-image: url('Img/bg.jpg');
 }
/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/
 

footer {
  background-color: #363945;
  padding: 20px 0;
}

footer h3 {
  color: #c7c7c7;
  font-size: 18px;
}

footer p {
  color: #a1a1a1;
  font-size: 14px;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: #b4b2b2;
  text-decoration: none;
}

footer ul li a:hover {
  color: #333;
}
/*-----------------------------------------*/
/*-------------link------------------------*/
.main-nav-3{
    margin-left: 35%;
}
.main-nav-3 li {
    display: inline-block;
    margin-left: 10%;
}
.main-nav-3 li a {
    text-decoration: none;
    color: rgb(32, 18, 18);
    font-size: 110%;
    font-weight: 700;
    padding: 5px;
}



/*-----------------------------------*\
 * #MOVIE DETAIL 
\*-----------------------------------*/

.movie-detail {
  background: url("../Img/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: var(--section-padding);
}

.movie-detail-banner {
  position: relative;
  background: var(--gunmetal-1);
  max-width: 300px;
  margin-inline: auto;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 50px;
}

.movie-detail-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-detail-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: url('../img/pointer.png'), auto;
}
.movie-detail-banner img:hover,.btn-primary:hover,.btn-primary a:hover{
  cursor: url('../img/pointer.png') 8 8, auto;
}
.trailer iframe{
  cursor: url('../img/pointer.png') 8 8, auto;
}

.play-btn:hover { background: hsla(0, 0%, 0%, 0.25); }

.detail-subtitle {
  font-size: var(--fs-5);
  color: var(--citrine);
  font-weight: var(--fw-700);
  margin-bottom: 10px;
}

.detail-title { margin-bottom: 20px; }

.detail-title strong { color: var(--citrine); }

.movie-detail .meta-wrapper { margin-bottom: 30px; }

.storyline {
  color: var(--gray-x);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 40px;
}




.details-actions .title {
  color: var(--white);
  font-weight: var(--fw-700);
}

.details-actions .text {
  font-size: var(--fs-11);
  color: var(--gainsboro);
}

.details-actions .btn-primary {
  font-size: 20px;
  padding: 13px 26px;
  letter-spacing: 0;
  background: transparent;
  margin-top: 30px;
  
}

.details-actions .btn-primary:is(:hover, :focus) { background: var(--citrine); }

.trailer{
  background:transparent;
  margin-top: 30px;
 margin-left: 430px;
    }
    .select{
  width: 100px;
  color: white;
}
.select-box{
  float: left;
  height: 40px;
  padding: 8px 26px;
  line-height: 18px;
  font-size: 16px;
  width: 30%;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: white;
  
}



/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 550px screen
 */

@media (min-width: 550px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 42px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    margin-inline: auto;
  }

 


 


  /**
   * MOVIE DETAIL
   */

  .detail-subtitle { --fs-5: 22px; }

  .detail-title { --fs-1: 46px; }
  

}


 

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 36px;

  }


/**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  


  /**
   * HEADER
   */

  .header .container { gap: 30px; }

  .header-actions {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 35px;
  }

  .header-actions .btn-primary { display: none; }

  .search-btn {
    position: relative;
    color: var(--white);
  }

  .search-btn ion-icon { --ionicon-stroke-width: 80px; }

  .search-btn::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -20px;
    background: hsla(0, 0%, 100%, 0.1);
    width: 2px;
    height: 14px;
  }

  .lang-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .lang-wrapper label {
    color: var(--citrine);
    font-size: 20px;
  }

  .lang-wrapper select {
    color: var(--white);
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
  }

  .lang-wrapper option { color: var(--black); }



  

  /**
   * FOOTER
   */

  .footer-brand-wrapper .logo { margin: 0; }

  .footer-brand-wrapper,
  .quicklink-wrapper,
  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 


  /**
   * MOVIE DETAIL
   */

  .detail-subtitle { --fs-5: 26px; }

  .detail-title { --fs-1: 50px; }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  /* MOVIE CARD */

  .movies-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * HEADER
   */

  .header.active { padding-block: 5px; }

  .menu-open-btn,
  .navbar-top,
  .navbar-social-list { display: none; }

  .main-nav {
    all: unset;
    margin-left: auto;
  }

  .header-actions {
    order: 1;
    margin-left: 0;
  }
  .overlay { display: none; }



  

  
  



  /**
   * MOVIE DETAIL
   */

  .movie-detail { padding-bottom: 200px; }

  .movie-detail .container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .movie-detail-banner,
  .details-actions { margin: 0; }


}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 60px;
    --fs-4: 26px;

  }



  

  /**
   * HEADER
   */

  .main-nav { margin-inline: auto; }

  .header-actions .btn-primary {
    display: block;
    --fs-11: 14px;
    padding: 10px 35px;
    letter-spacing: 1px;
  }








  /**
   * MOVIE DETAIL
   */

  .movie-detail { padding-bottom: var(--section-padding); }

  .movie-detail-content { max-width: 620px; }

  .detail-title { --fs-1: 60px; }

  .trailer{ 
     align-items: center;
   }

}
header {
  background-image: url("../Img/footer-bg.jpg") !important;  
  background-size: cover !important;
  background-repeat: repeat-x !important;   
  background-position: center!important;
  height: 20vh!important;
  background-attachment: fixed!important;
}

.about-section
{
  background: url("../Img/bg.jpg")!important;
  background-size: 100%!important;
  background-repeat: no-repeat!important;
}
.logo {
  width: 15%!important;
  float: left!important;
}

.main-nav {
  float: right!important;
  list-style: none!important;
  margin-right: 50px!important;
  margin-top: 25px!important;
}

.main-nav li {
  display: inline-block!important;
  margin-right: 30px!important;
}

.main-nav li a {
  text-decoration: none!important;
  color: white!important;
  font-size: 110%!important;
  font-weight: 700!important;
  padding: 3px 0!important;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid!important ;
} 